<!--<div id="callme"><input type="button" id="viewform" class="callme_viewform"></div>-->
<div id="callmeform"><a id="cme_cls" href="/callme/index.html">&nbsp;</a><h6>Заказать бесплатный звонок</h6>
<span>Ваше имя</span>
<span><input class="cme_txt" type="text" maxlength="150" id="cname"></span>
<span>Телефон</span>
<span><input class="cme_txt" type="text" maxlength="150" value="+38-" id="cphone"></span>
<span>Вопрос или комментарий</span>
<span><textarea class="cme_txt" id="ccmnt"></textarea></span>
<!-- пожалуйста, оставьте копирайт -->
<span>
<div class="cme_btn_around">
<input class="cme_btn" type="button" value="Перезвоните мне">
</div>
</span>
<div id="callme_result"></div>
</div>