#callme {
	height: 151px;
	position: fixed;
	*position: absolute;
	top: 150px; 
	right: 0;
	width: 22px;
	z-index: 110;
}

.cme_txt {
	width: 280px !important;
	border: 1px solid #c0cad5;
	border-radius: 1px;
	box-shadow: 0 1px 0 #fff;
	color: #000;
	font-size: 12px;
	padding: 5px 3px !important;
}

#callmeform {
	display: none;
	border: 1px solid #bbc1ce;
	box-shadow: 0 1px 0px #ccc;
	position: fixed;
	*position: absolute;  
	font-family: Tahoma;
	border-radius: 1px;
	right: 50px;
	top: 150px;
	width: 305px;
	z-index:109;
	background: #f7f7f7;
	color:grey;
}

#callmeform span {
	 padding:2px 3px 2px 10px;
	 display:block;
	 color:#333;
	 font-size:11px;
	 clear:both;
}

.cme_btn {
	background: url(bttn_bg.png) repeat-x top #5a7fa6;	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-shadow:0 1px 0 #45688f;
	padding:4px 0 5px 0;
	margin:0;
	cursor: pointer;
	border:0;
	border-top:1px solid #9cb6d2;
	border-radius:1px;
	width: 140px;
}

.cme_btn_around{
	box-shadow:0 1px 0 #d3d3d4;
	border:1px solid #517295;
	border-radius:2px;
	width:140px;
}

#callmeform h6 {
	color:#fff;
	background:#597DA3;
	font-size:12px;
	padding:8px 0 9px 10px;
	border-bottom:1px solid #cad0d6;
	box-shadow:0 1px 0 #ebebeb;
	margin:0 0 7px 0;
}

.callmebody {
	font-size: 11px;
	background: #fff;
	padding: 5px 10px;
}

.callmebody .inf {
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
	clear: both;
}

#viewform {
	border: 0;
	padding: 0;
	background: url(bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}

.callmeform_hover {
	background-position: 22px 0!important;
}

#callme_result {
	background: #fff url(loading.gif) 10px center no-repeat;
	display: block;
	clear: both;
	margin: 5px 11px 10px 10px;
}

#callme_result div {
    padding: 7px 7px;
    margin: 4px 0px 0px 0px;
}

#callme_result .sending {
	padding: 7px 0 7px 35px;
	display: block;
	color:grey;
	clear:both;
}

#callme_result .c_success {
	background: #dee5eb;
	color:#333;
	text-shadow: none;
}

#callme_result .c_error {
	background: #dee5eb;
	color: #333;
	text-shadow: none;
}

#cme_cls {
	height:15px;
	width:15px;
	float:right;
	display:inline;	
	background:url(close.png);
	margin:8px 10px 0 0;
	cursor:pointer;
}

#cm_crds a {
	font-size: 10px;
	color: #888;
}

#cm_crds a:hover { text-decoration: none; }

#cm_crds {
	display: inline;
	float: right;
	padding: 7px 12px 0 0;
	font-size: 9px;
	color:grey;
}