<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
    <div class="product-grid">
      <?php foreach ($products as $product) { ?>
      <div>
		<div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
        <?php if ($product['thumb']) { ?>
        <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
        <?php } ?>
        <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
        <?php echo $product['reviews']; ?><div style="clear:both;"></div>
		<?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
          <?php } ?>
        </div>
		
        <?php } ?>
		<div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');"><i><?php echo 'в закладки'; ?></i></a></div>
		<div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><i><?php echo 'сравнение'; ?></i></a></div>
      
    </div>
	<?php } ?>
  </div>
  </div>
</div>
