.box-content.filterpro {padding:0;}
#filterpro .option_box {
	display: inline-block;
	width: 100%;
	padding: 5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align: top;
}

#filterpro_box .price_limit {
    border: 0;
    color: #1D588A;
    font-weight: bold;
    width: 60px;
    min-width: 60px;
	text-align:center;
}
#filterpro .ui-widget-header {
    background: none repeat scroll 0 0 #1D588A;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}

#filterpro select {
    width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
    border: 1px solid #1D588A;
    background: none repeat scroll 0 0 #d9f2fc;
}

#filterpro .price_slider {
    padding: 5px;
}

#filterpro .price_slider  input {
    width: 40px;
}

#filterpro .option_values {
    padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
    background: url("../image/filter-bullet-down.png") no-repeat scroll right center transparent;
    cursor: pointer;
    padding: 5px;
}
#filterpro .option_name {font-weight:bold;font-size:14px;}
#filterpro .attribute_group_name {
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-size: 14px;
	line-height: 14px;
	color: #333;
	font-weight: bold;
	text-align: center;
	margin: -5px;
	margin-bottom: 5px;
	border-left: 0;
	border-right: 0;
}
#filterpro .attribute_group_name{
    padding-left: 0;
}

#filterpro .hided {
    cursor: pointer;
}

#filterpro_box .clear_filter {
    border-bottom: 1px dashed;
    text-decoration: none;
    float: right;
}

#filterpro .collapsible{
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}
#filterpro img {
    cursor: pointer;
    margin: 2px
}

#filterpro img.selected {
    border: 2px solid;
    margin: 0;
}
#column-left + #column-right + #content .product-grid > div.loadmask {
    width: 100%;
}

#filterpro input {
    margin: 4px 3px;
}
#filterpro table{
     margin-bottom: 5px;
}