.question-list {
	margin-bottom: 5px;
	background: #FFFFFF;
	border: 1px solid #d5d5d5;
}
.question-list .questioner {
	padding: 10px 5px;
	border-bottom: 1px solid #d5d5d5;
	background: #fdebf1;
}
.question-list .questioner span {
	float: right;
	font-weight: bold;
}

.question-list .questioner span.text-questioner {
	float: right;
	font-weight: normal;
}
.question-list .text-question .question-product {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #d5d5d5;
}
.question-list .text-question .question-product img {
	border: 1px dotted #d5d5d5;
	padding: 2px;
	margin-right: 10px;
}
.question-list .text-question .question-product a {
	text-decoration: none;
	font-weight: bold;
}
.question-list .text-question .question-product a:hover {
	text-decoration: underline;
}
.question-list .text-question .subject {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #d5d5d5;
}
.question-list .text-question {
	padding: 5px;
	border-top: 0;
}
.question-list .text-question p {
	margin-bottom: 5px;
}
.question-list .admin-answer {
	margin: 0 10px 0 10px;
	padding: 10px 5px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	background: #dcf8d8;
}
.question-list .admin-answer span {
	float: right;
	font-weight: bold;
}
.question-list .text-answer {
	margin: 0 10px 10px 10px;
	padding: 5px;
	border: 1px solid #d5d5d5;
	background: #fbfcd1;
}
.question-list .text-answer p {
	margin-bottom: 5px;
}
.list tr.question-filter td, .list tr:hover.question-filter td {
	padding: 5px;
	background: #E7EFEF;
}
table.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}