#content .tovar_day .box-heading {
    background: #2E85BC;
    border-bottom: 0 none;
    border-left: 2px solid #2E85BC;
    border-right: 2px solid #2E85BC;
	border-top: 0 none;
    color: #FFFFFF;
    display: block;
    text-align: center;
	font-size: 18px;
	font-weight: normal;
	line-height: 34px;
}
.tovar_day .image {
	margin-bottom: 12px;
	text-align: center;
}
.tovar_day .image:hover .product-zoom {
	display: block;
}
.tovar_day .cart {
	float: left;
}
.tovar_day .wishlist,
.tovar_day .compare {
	float: right;
}
#content .day .box-heading {
    display: block;
    text-align: center;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 1px solid #C0C0C0;
}
#content .day .box-heading.none {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 34px;
	padding: 0;
}
.owl-carousel .name a,
.tovar_day .name a {
	color: #2B2C2D;
	line-height:15px;
	text-decoration: none;
	display:block;
	margin:15px 0px 0px 0px;
    font-family: "lora",arial;
    font-size: 16px;
}
.tovar_day .name {
	text-align: center;
}
.tovar_day .name a,
.day .owl-carousel .name a {
	margin: 0 0 7px;
}
.box-product .name a:hover {
	color: #ce001a;
}
.owl-item .rating {
	position: relative;
    z-index: 1;
}
.owl-carousel .price,
.tovar_day .price {
	color: #ED297B;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.product-list .price,
.tovar_day .price {
    margin-bottom: 13px;
}
.owl-carousel .price {
    margin-bottom: 14px;
}
.tovar_day .price {
	clear: both;
    margin-bottom: 12px;
}
.tovar_day .rating {
	margin-bottom: 20px;
    margin-top: 19px;
    text-align: center;
}
.owl-carousel .hov .price {
    clear: both;
}
.owl-carousel .price-old,
.tovar_day .price-old {
	text-decoration: line-through;
    font-size: 12px;
    color: #777777;
    text-shadow: 0 0 0 #FFFFFF;
}
.owl-carousel .price-new,
.tovar_day .price-new {
	color: #ED297B;
}
.owl-carousel .cart input.button {
    border-radius: 0px 0px 0px 0px;
    font-weight: bold;
}
.product-info.quick-view-product-info > .left + .right {
    margin-left: auto;
}
.product-info.quick-view-product-info .options .error {
    margin-top: 1px;
    position: absolute;
    right: 23px;
}
.owl-theme .owl-controlls {
    
}
.owl-pagination {
    background: #FFFFFF;
    border-left: 1px solid #C0C0C0;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    padding: 8px 13px 0;
    position: absolute;
    right: -2px;
    text-align: right;
    top: 11px;
	display: none;
}
.owl-next {
    background: url("../image/next-prev.png") no-repeat scroll -15px -33px;
    opacity: 1;
    padding: 7px 0;
    position: absolute;
    right: 1px;
    top: -6px;
    z-index: 1;
}
.owl-next:hover,
.owl-prev:hover {
    opacity: 1;
}
.owl-next.disabled:hover,
.owl-prev.disabled:hover {
    
}
.owl-prev {
    background: url("../image/next-prev.png") no-repeat scroll -16px 6px;
    opacity: 1;
    padding: 7px 0;
    position: absolute;
    right: 25px;
    top: -6px;
    z-index: 1;
}
.owl-prev.disabled {
	background: url("../image/next-prev.png") no-repeat scroll -37px 6px;
}
 .owl-next.disabled {
	background: url("../image/next-prev.png") no-repeat scroll -37px -33px;
}
.owl-prev:hover {
    opacity: 1;
}
.owl-prev.disabled:hover {
    
}
.owl-theme .owl-controlls .owl-buttons div{
	display: inline-block;
	zoom: 1;
	*display: inline;
    height: 30px;
    width: 25px;
}
.owl-carousel.carousel {
    position: relative;
}
.owl-carousel.carousel .owl-controlls .owl-pagination {
    display: none;
}
.owl-carousel.carousel .owl-controlls .owl-buttons .owl-prev {
    background: url("../image/next-prev.png") no-repeat scroll -16px 6px rgba(0, 0, 0, 0);
    height: 32px;
    left: 10px;
    top: 36%;
    width: 22px;
}
.owl-carousel.carousel .owl-controlls .owl-buttons .owl-prev.disabled {
    background: url("../image/next-prev.png") no-repeat scroll -37px 6px rgba(0, 0, 0, 0);
}
.owl-carousel.carousel .owl-controlls .owl-buttons .owl-next {
    background: url("../image/next-prev.png") no-repeat scroll -16px -35px rgba(0, 0, 0, 0);
    height: 25px;
    left: auto;
    right: 10px;
    top: 36%;
    width: 24px;
}
.owl-carousel.carousel .owl-controlls .owl-buttons .owl-next.disabled {
    background: url("../image/next-prev.png") no-repeat scroll -38px -34px rgba(0, 0, 0, 0);
}
.owl-carousel.carousel .owl-controlls .owl-buttons .owl-.owl-carousel.carousel .owl-controlls .owl-buttons .owl-next {
    background: url("../image/next-prev-carousel.png") repeat scroll 0 -50px;
    height: 50px;
    left: 0;
    top: -83px;
    width: 50px;
}

.owl-theme .owl-controlls.clickable .owl-buttons div:hover{
	text-decoration: none;
}

.owl-theme .owl-controlls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-theme .owl-controlls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controlls .owl-page.active span,
.owl-theme .owl-controlls.clickable .owl-page:hover span{
	opacity: 1;
}
.owl-theme .owl-controlls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-carousel:after {
	content: ".";
	display: block;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel {
	display: none;
	padding-bottom: 10px;
	background: #fff;
}
#content .owl-carousel {
    border-top: 4px solid #2E85BC;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}
.day .owl-carousel {
	border: 0 none;
	padding-bottom: 0px;
}
.owl-wrapper-pattern {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper{
	position: relative;
	display: inline-block;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.owl-carousel .owl-item{
	float: left;
	padding-top: 7px;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons{
	cursor: pointer;
}
.owl-controlls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel.carousel.carouselmodule {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.31);
    margin-bottom: 12px;
} 
.owl-carousel.carousel.carouselmodule .owl-wrapper-pattern {
    min-height: 85px;
    padding-top: 20px;
}
.grabbing { 
    cursor:url(../image/grabbing.png) 8 8, move;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.owl-item > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 90%;
    position: relative;
	text-align: center;
}
.owl-item > div .image {
    position: relative;
	margin-bottom: 8px;
    margin-top: 10px;
}
.owl-carousel > div .cart {
    float: left;
}
.owl-carousel > div .wishlist,
.owl-carousel > div .compare {
	float: right;
}
.relative {
    position: relative;
}

.cart-box-bottom {
	height: 34px;
	margin: 18px 0 18px;
}
.cart-box-bottom .quantity-input {
	float: left;
    border: 1px solid #D2D2CE;            
}
.cart-box-bottom input#quick-button-cart {
    float: left;
    margin-left: 24px;
    margin-top: 4px;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.cart-box-bottom .quantity-input input {
	margin: 3px 8px 0 8px;
	width: 30px;
	text-align: center;
	float: left;
}
.cart-box-bottom .quantity-input .minus1 {
	background: url('../image/quantity.png') left 9px no-repeat;
	border-right: 1px solid #d2d2ce;
	cursor: pointer;
	float: left;
	display: block;
	height: 34px;
	width: 36px;
}
.cart-box-bottom .quantity-input .minus1:hover {
	background: #e2e2e2 url('../image/quantity.png') left 9px no-repeat;
}
.cart-box-bottom .quantity-input .plus1 {
	background: url('../image/quantity.png') right 9px no-repeat;
	border-left: 1px solid #d2d2ce;
	cursor: pointer;
	float: right;
	display: block;
	height: 34px;
	width: 36px;
}
.cart-box-bottom .quantity-input .plus1:hover {
	background: #e2e2e2 url('../image/quantity.png') right 9px no-repeat;
}
.cart-box-bottom input.button-carts {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	background: #252525;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	text-transform: uppercase;
    margin: 0;
	border: 0;
	padding: 6px 12px;
    float: left;
    margin-left: 33px;
    margin-top: 4px;
}
.cart-box-bottom input.button-carts:hover {
	background: #ED297B;
}
.cart-box-bottom a.button-wishlists {
	float: left;
    height: 23px;
    width: 20px;
    margin-top: 8px;
}
.cart-box-bottom a.button-wishlists:hover {
	
}
.cart-box-bottom a.button-compares {
	width: 20px;
	height: 23px;
	display: block;
	float: left;
    margin: 9px 11px 0 4px;
}
.cart-box-bottom a.button-compares:hover {
	
}

.comparewishlist {
    float: left;
    margin: 4px 0 0 12px;
    text-align: left;
}
.textor {
    float: left;
    margin: 11px 0 0 9px;
    display: block;
}
.owl-item .image .hov .images-add-carousel {
    margin-top: 12px;
}
.owl-item .image .hov .images-add-carousel a img {
    width: 40px;
}
.owl-item .image .hov .images-add-carousel a {
    border-radius: 5px;
    box-shadow: 0 0 2px #373737;
    display: inline-block;
    padding: 3px;
}
.owl-item .image .hov .images-add-carousel a + a {
    margin-left: 5px;
}
.owl-item > div .no-images-add {
    float: left;
    min-height: 219px;
}
.product-grid > div .no-images-add {
    float: left;
    min-height: 214px;
}
.box-product > div .image .no-images-add {
    float: left;
    min-height: 228px;
}
.images-add a + a {
    margin-left: 10px;
}
.images-add img {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 5px;
}
.product-list .images-add img {
    padding: 5px;
}
.owl-item > div .image:hover .hov {
    display: block;
}
.owl-item > div .image .hov {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #444444;
    display: none;
    left: -21px;
    min-height: 362px;
    overflow: auto;
    position: absolute;
    top: -47px;
    width: 260px;
    z-index: 9;
}
.owl-item > div .image .hov.no-description {
    width: 273px;
}
.owl-item > div .image .hov.no-additional,
.owl-item > div .image .hov.no-description {
    left: -41px;
}
.product-grid > div .image .hov.no-additional,
.product-grid > div .image .hov.no-description {
    left: -41px;
}
.owl-item .hov .name {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}
.owl-item .hov .name.no-zoom {
    padding-right: 40px;
}
.owl-item .hov .name a {
    margin-top: 6px;
}
.tovar_day {
	float: left;
    margin-right: 14px;
	width: 215px;
	background: #fff;
}
.tovar_day  > div {
	border-bottom: 2px solid #2E85BC;
    border-left: 2px solid #2E85BC;
    border-radius: 0 0 3px 3px;
    border-right: 2px solid #2E85BC;
    padding: 10px 3% 3px;
	overflow: auto;
}
.tovar_day .box-heading {
	padding: 0;
	border-bottom: 0;
}
.day {
	border: 1px solid #C0C0C0;
    margin-left: 230px;
    min-width: 100px;
    position: relative;
	border-radius: 3px;
	background: #fff;
}
.day.nonetovar_day {
	margin-left: 0;
}
.qya {
	bottom: -23px;
    font-family: Arial;
    font-size: 11px;
    left: 6px;
    position: absolute;
    text-transform: lowercase;
}
.product-zoom-uspey {
	margin-bottom: 8px;
	text-align: center;
}
.product-zoom-uspey a {
	background: -moz-linear-gradient(bottom , #2E85BC 49%, #358CC3 6%, #49A0D7 75%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(bottom , #2E85BC 49%, #358CC3 6%, #49A0D7 75%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom , #2E85BC 49%, #358CC3 6%, #49A0D7 75%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(bottom , #2E85BC 49%, #358CC3 6%, #49A0D7 75%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    padding: 4px 0;
	box-shadow: 1px 1px 0px rgba(4, 4, 4, 0.35);
	text-decoration: none;
}
.product-zoom-uspey a:hover {
	color: #ffffff;
	background: #2E85BC;
}
.owl-carousel.reviews .owl-item > div {
    
}
.owl-carousel.reviews .owl-item > div .name {
    margin-bottom: 10px;
}
.owl-carousel.reviews .owl-item > div .image {
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}
.owl-carousel.reviews .owl-item > div .review {
    text-align: justify;
}
.owl-carousel.reviews .owl-item > div .rating {
    bottom: 0;
    position: absolute;
    right: 40%;
}
.owl-carousel.reviews .owl-item > div .podrobnee {
    position: absolute;
    bottom: 0px;
    right: 5%;
}
.product-info.quick-view-product-info #tab-quick-description.tab-contents {
    font-weight: bold;
}
.product-info.quick-view-product-info #tab-quick-description.tab-contents p {
    font-weight: normal;
}
.product-info.quick-view-product-info #tab-quick-description.tab-contents span {
    font-weight: normal;
}
.product-info.quick-view-product-info #tab-quick-description.tab-contents a {
    font-weight: bold;
}
.product-zoom {
    background: none repeat scroll 0 0 #ED297B;
    border-radius: 0 5px;
    display: none;
    height: 35px;
    right: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
    z-index: 11;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.product-zoom-hit {
    border: 1px solid #8C8C8C;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
    float: right;
    position: relative;
    width: 56%;
}
.product-zoom-hit-vnutr {
	background: -moz-linear-gradient(top, #ffffff 0%, #555555 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #555555 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #555555 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #555555 100%);
	padding: 5px 0;
	text-align: center;
	height: 11px;
}
.ostalos {
	float: left;
	padding-top: 4px;
}
span.procent {
	position: absolute;
    right: 2px;
    top: 3px;
}
.product-block {
	 height: 25px;
	 margin-bottom: 15px;
}
.product-zoom-hit a{
	color: #fff;
}
.product-zoom a {
    display: block;
	text-decoration: none;
}
.tovar_day .cart a.button, .tovar_day .cart input.button, .owl-carousel .cart input.button {
    background-color: #333333;
    background-image: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 18px;
    padding: 5px 12px;
    text-transform: uppercase;
	border-radius: 3px;
}
.action-count {
	float: right;
	position: relative;
	width: 48px;
}
.qya {
	bottom: -23px;
    font-family: Arial;
    font-size: 11px;
    left: 11px;
    position: absolute;
    text-transform: lowercase;
}
.action-count span{
	border: 1px solid #C0C0C0;
    border-radius: 3px;
    font-size: 22px;
    padding: 0 3px;
    position: relative;
    top: 4px;
}
.icon-zoom:before {
    content: "\f00e";
    font-size: 18px;
    color: #ffffff;
    line-height: 35px;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:'FontAwesome';
    src:url('../font/fontawesome-webfont.eot?v=3.2.1');
    src:url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight:normal;
    font-style:normal;
}
.owl-item .countdownHolder {
	font-size: 21px;
	margin: 0 auto 15px;
}
.action-tovar {
	margin-bottom: 5px;
}
.countMinutes .time {
    left: 13px;
}
.relative.box.daybox {
	overflow: auto;
	padding-bottom: 10px;
}
.icon {
    color: #000000;
}
.icon:hover {
    color: #ED297B;
}
.icon-wishlist:before {
    content: "\f005";
    font-size: 18px;
}
.icon-compare:before {
    content: "\f080";
    font-size: 18px;
}
.wishlist a, .compare a {
    display: block;
    float: left;
    font-size: 18px;
    height: 31px;
    line-height: 28px;
    margin-left: 5px;
    text-align: center;
    width: 37px;
	text-decoration: none;
}
.cart-carousel {
	display: block;
	clear: left;
}
.images-add {
    margin-bottom: 13px;
    text-align: center;
}