@media only screen and (max-width: 1250px) {
    .owl-item > div .image .hov {
        width: 243px;
    }
}
@media only screen and (max-width: 1153px) {
    .owl-item > div .image .hov {
        width: 240px;
    }
}
@media only screen and (max-width: 1143px) {
    .owl-item > div .image .hov {
        width: 237px;
    }
}
@media only screen and (max-width: 1128px) {
    .owl-item > div .image .hov {
        width: 233px;
    }
}
@media only screen and (max-width: 1099px) {
    .owl-item > div .image .hov {
        width: 231px;
    }
}
@media only screen and (max-width: 1078px) {
    .owl-item > div .image .hov {
        width: 224px;
    }
}
@media only screen and (max-width: 1049px) {
    .owl-item > div .image .hov {
        width: 221px;
    }
}
@media only screen and (max-width: 1027px) {
    .owl-item > div .image .hov {
        width: 217px;
    }
}
@media only screen and (min-width: 996px) and (max-width: 1019px) {
      .owl-item > div .image:hover .hov {
        display: none;
      }
}
@media only screen and (max-width: 997px) {
    .owl-item > div .image:hover .hov {
        display: block;
    }
    .owl-item > div .image .hov {
        width: 265px;
    }
}
@media only screen and (max-width: 949px) {
    .owl-item > div .image .hov {
        width: 254px;
    }
}
@media only screen and (max-width: 912px) {
    .owl-item > div .image .hov {
        width: 246px;
    }
}
@media only screen and (max-width: 885px) {
    .owl-item > div .image .hov {
        width: 242px;
    }
}
@media only screen and (max-width: 865px) {
    .owl-item > div .image .hov {
        width: 235px;
    }
}
@media only screen and (max-width: 865px) {
    .owl-item > div .image .hov {
        width: 235px;
    }
}
@media only screen and (max-width: 837px) {
    .owl-item > div .image .hov {
        width: 230px;
    }
}
@media only screen and (max-width: 816px) {
    .owl-item > div .image .hov {
        width: 223px;
    }
}
@media only screen and (max-width: 788px) {
    .owl-item > div .image .hov {
        width: 221px;
    }
}
@media only screen and (max-width: 767px) {
.owl-item > div:hover .product-zoom {
    display: none;
}
.owl-item > div .image .hov {
    left: -1px;
}
}
@media only screen and (min-width: 531px) and (max-width: 700px) {
.owl-carousel .wishlist {
    position: absolute;
}
.owl-carousel .compare {
    position: absolute;
}
}
@media only screen and (min-width: 421px) and (max-width: 530px) {
.owl-carousel .wishlist {
    position: absolute;
}
.owl-carousel .compare {
    position: absolute;
}
.owl-pagination {
    top: 52px;
}
}
@media only screen and (max-width: 700px) {
    .owl-item > div .image:hover .hov {
        display: none;
    }   
}
@media only screen and (min-width: 339px) and (max-width: 421px) {
    .owl-pagination {
        top: 52px;
    }
}
@media only screen and (max-width: 420px) {
    .owl-item > div .image:hover .hov {
        display: none;
    }
}
@media only screen and (max-width: 339px) {
    .owl-pagination {
        top: 52px;
    }
    .box-heading {
        margin-bottom: 36px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 785px) {
    .owl-item > div .image .hov {
        width: 300px;
        left: -18px;
    }
}
@media only screen and (min-width: 679px) and (max-width: 743px) {
    .owl-item > div .image .hov {
        left: -16px;
        width: 277px;
    }
}
@media only screen and (max-width: 767px) {
	#content .owl-item > div .image:hover .product-zoom {
		display: none;
	}
	.owl-item > div:hover .divshadow {
		display: none;
	}
	#content .box-product > div,
	#content .product-grid > div {
		padding-bottom: 30px;
	}
	#column-left + #content .product-grid > div, #column-right + #content .product-grid > div {
		width: 31%;
	}
	.box-product .wishlist, .product-grid .wishlist {
		bottom: 0;
	}
	.box-product > div .compare, .product-grid > div .compare {
		bottom: 0;
	}
}