@font-face{font-family:'PTSansWeb';src:url(../fonts/pts75f_w.eot);src:url(../fonts/pts75f_w.eot?#iefix) format('embedded-opentype'),url(../fonts/pts75f_w.woff) format('woff'),url(../fonts/pts75f_w.ttf) format('truetype'),url(../fonts/pts75f_w.svg#pt_sansbold) format('svg');font-weight:bold;font-style:normal;}
@font-face{font-family:'PTSansWeb';src:url(../fonts/ptsans.eot);src:url(../fonts/ptsans.eot) format('embedded-opentype'),url(../fonts/ptsans.woff) format('woff'),url(../fonts/ptsans.ttf) format('truetype'),url(../fonts/ptsans.svg#PTSansRegular) format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'PT Sans Narrow';src:url(../fonts/ptn57f_w.eot);src:local('PT Sans Narrow'),url(../fonts/PTN57F_W.woff) format('woff'),url(../fonts/PTN57F_W.ttf) format('truetype'),url(../fonts/PTN57F_W.svg#PTSans-Narrow) format('svg');}
@font-face{font-family:"PTSansregrouble";src:url(../fonts/PTbold-rouble.eot);src:url(../fonts/PTbold-rouble.eot?#iefix) format('embedded-opentype');src:url(../fonts/PTbold-rouble.svg#PT Sans) format('svg');src:url(../fonts/PTbold-rouble.woff) format('woff');src:url(../fonts/PTbold-rouble.ttf) format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:"PTSansregrouble";src:url(../fonts/PT-rouble.eot);src:url(../fonts/PT-rouble.eot?#iefix) format('embedded-opentype');src:url(../fonts/PT-rouble.svg#PT Sans) format('svg');src:url(../fonts/PT-rouble.woff) format('woff');src:url(../fonts/PT-rouble.ttf) format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'MyriadProBold';src:url(../fonts/myriadpro-bold.eot);src:url(../fonts/myriadpro-bold.eot) format('embedded-opentype'),url(../fonts/myriadpro-bold.woff) format('woff'),url(../fonts/myriadpro-bold.ttf) format('truetype'),url(../fonts/myriadpro-bold.svg#MyriadProBold) format('svg');font-weight:bold;font-style:normal;}
@font-face{font-family:'MyriadProRegular';src:url(../fonts/myriadpro-regular.eot);src:url(../fonts/myriadpro-regular.eot) format('embedded-opentype'),url(../fonts/myriadpro-regular.woff) format('woff'),url(../fonts/myriadpro-regular.ttf) format('truetype'),url(../fonts/myriadpro-regular.svg#MyriadProRegular) format('svg');font-weight:normal;font-style:normal;}
html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background:url("../image/main_bg.png");
	color: #333;
	font: normal normal 14px/1.3em 'PT Sans','PTSansWeb','PT Sans Regular',Helvetica,sans-serif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
.blackout {
	position:fixed;
	width:100%;
	height:100%;
	display:block;
	background-color:rgba(0,0,0,0.8);
	display:none;
	z-index: 100;
	left:0;
	top:0;
}
.wbbm {display:none;}
#wbbmodal {display:none;}
input{font-family: PTSansWeb;}
body, td, th, input, textarea, select, a {
	font-size: 14px;
}
h1, .welcome {
	color: #1D588A;
	font-family:PT Sans Narrow;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 28px;
	line-height: 28px;
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #1D588A;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {	cursor: pointer; }
/* layout */
#header #container {
	width: 1000px;
	padding: 0 20px;
	height: 150px;
	/*background: url(../image/header_bg2.png)no-repeat center 31px;*/
}
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position: relative;
}
#header #container #menu{
	position:absolute;
	bottom:0;
	/*width: 958px;*/
	width: 758px;
	margin: 0 20px;
	
}
.main #header #container #menu{
margin-top: 80px;
position:relative;
}
#column-left {
	float: left;
	width: 220px;
}
#column-right {
	margin-left: 240px;
}
#column-right>div {
	display:inline-block;
	vertical-align:top;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
	border: 1px solid #DBDEE1;
	background: #fff;
	padding:10px;
}
#column-left + #column-right + #content, #column-left + #content,#column-right + #content {
	margin-left:240px;
}
#column-right + #content {
	/*margin-right: 195px;*/
}
/* header */
#top {
	height: 30px;
	background:url(../image/topbar.png)no-repeat;
	font-size: 12px;
}
#top a{font-size: 12px!important;}
#header {
	margin-bottom: 20px;
	/*padding-bottom: 4px;*/
	position: relative;
	z-index: 99;
	background:url(../image/topbar_line.png)repeat-x;
}
#header #logo {
	position: absolute;
	left: 20px;
	top: 27px;
}
#language {
	position: absolute;
	top: 59px;
	left: 360px;
	width: 108px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
	padding-left:5px;
}
#currency {
	width: 120px;
	position: absolute;
	top: 56px;
	left: 500px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
	display: block;
	padding: 0;
	margin: 0;
	height: 40px;
	border: 0;
	width: 186px;
	background-color: #1D588A;
	background-image: -moz-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -webkit-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -o-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	border-radius: 0;
	position: absolute;
	right: 40px;
	top: 110px;
}
#header #cart:hover {background-image:none;}
#header #cart .heading {
	text-indent: 30px;
	margin-right: 10px;
	height: 40px;
	background: url('../image/cart-icon.png') 4% 60% no-repeat;
	position: relative;
	z-index: 1;
	text-align:center;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
}
#header #cart .heading a span {
	line-height: 40px;
	padding-right: 15px;
	font-size: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	min-width: 360px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
	float: right;
}
#header #cart.active .heading {
/*font-weight:700;	*/
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .name>div {
	line-height: 12px;
	padding: 5px 0;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
	font-size: 12px;
	padding: 10px 4px;
}
.mini-cart-info td.total {
	text-align: right;
	font-size: 12px;
	padding: 10px 0 0 4px;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total tr:first-child {display:none;}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	padding-left:65px;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: relative;
	width: 505px;
	display: block;
	padding: 5px 0 0 0;
	margin: 0 8px 0 20px;
	background: none;
	border: 0;
	height: 33px;
}
#header .button-search {
	position: absolute;
	right: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 26px;
	border-left: 1px solid #CCCCCC;
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 10px;
	width: 495px;
	height: 23px;
	border: 1px solid #CCCCCC;
	/*-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;*/
}
.col-module-header-arrow {
position: absolute;
top: -20px;
left: 15px;
width: 0;
height: 0;
border-left: 9px solid transparent;
border-right: 9px solid transparent;
border-top: 8px solid #222;
z-index: 2;
}
#header #search input:focus {outline:none;}
#header #welcome {
	position: absolute;
	top: 7px;
	right: 40px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header #welcome a{
	color: #fff;
	text-decoration: none;
}
#header #welcome a:hover {
	text-decoration: underline;
}
.city {
	position: absolute;
	left: 55px;
	top: 7px;
	color:#fff;
}
.city span {
	color:#999999;
}
#header .links {
	position: absolute;
	left: 280px;
	top: 7px;
	font-size: 10px;
	padding-right: 10px;
	z-index:11;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}
#header .links a:hover {
	text-decoration: underline;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	border: 1px solid #222;
	background-color: #111;
	background-image: -moz-linear-gradient(#444, #111);
	background-image: -webkit-linear-gradient(#444, #111);
	background-image: -o-linear-gradient(#444, #111);
	background-image: -ms-linear-gradient(#444, #111);
	background-image: linear-gradient(#444, #111);
	/*border-radius: 6px;*/
	/*box-shadow: 0 1px 1px #777;*/
	height: 38px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 38px;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding:0;
	position:relative;
}
#menu > ul > li:nth-child(1){
	margin-left:220px;
}
#menu > ul > li>ul {
display:none;
width:218px;
margin: 1px 0 0 -1px;
height:auto;
background:#fff;
border: 1px solid #DBDEE1;
}
.main #menu > ul > li>ul {
	display:block;
	margin-bottom: 20px;
}
#menu > ul > li ul li>div>ul{
height:auto;
background:#fff;
}
#menu > ul > li ul li>div>ul li{
/*display:none;*/
}
#menu > ul > li ul li:hover>div>ul li{
/*display:block;*/
}
#menu >ul >li>ul >li >a {
	font-weight:bold;
	border-bottom:1px solid #333;
	background-repeat:no-repeat;
	background-position:90% center;
}
#menu >ul >li>ul >li:hover >a {
background-image: url('../image/arrow-bottom.png');
}
#menu >ul >li>ul >li:hover >a:hover {
background-image: url('../image/arrow-right.png');
}
#menu > ul > li ul li>div{
	border-bottom:1px solid #333;
}
#menu > ul > li ul li:last-child>div{
	border-bottom:0;
}
#menu > ul > li ul li:hover>div{
display:block;
}
#menu > ul > li:hover>ul {
display:block;
}
#menu > ul >li>ul>li a:hover,#menu > ul >li>ul>li:hover>a{
	background-color:#f5f5f5;
}
#menu > ul > li > a {
	text-align:center;
	font-size: 13px;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding:0px;
	line-height:38px;
	z-index: 6;
	position: relative;
	text-shadow: 1px 1px 1px #000;
	/*-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;*/
	font-size: 1.8em;
	color: #fff;
	/*font-family: PT Sans Narrow;*/
}
#menu > ul > li:hover > a {
	background: #000000;
	color: #F0C237;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #000000;
	/*-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;*/
	background: url('../image/menu.png');
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding:8px 10px;
	color:#333;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {

}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb {
/*border: 1px solid #DBDEE1; */
color: #CCCCCC;
height: 30px;
line-height: 30px;
margin-bottom: 10px;
/* padding-left: 10px; */
background: #fff;
}
.breadcrumb a {
color:#000;
}


.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
position: fixed;
top: 30%;
width: 30%;
left: 50%;
margin-left: -15%;
z-index: 999;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	/*-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;*/
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	/*-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;*/
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	/*-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;*/
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	/* background: #FFFFFF; */
	/* padding: 8px 10px; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	/* border: 1px solid #DBDEE1; */
	border-top: 0;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 13px;
	background-color: #1D588A;
	background-image: -moz-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -webkit-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -o-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 22px 0px 22px;
}
a.button:hover, input.button:hover {
	background-image:none;
}
.buttons {
background: #FFFFFF; */
/* border: 1px solid #EEEEEE; */
overflow: auto;
padding: 6px;
margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	/*/*font-family: PT Sans Narrow;*/*/
	text-transform: uppercase;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #4d4d4d;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	padding: 10px;
	z-index: 2;
	background: #fff;
	margin: 0 -10px;
}
/* box */
.box {
	margin-bottom: 20px;
}
.main .category-menu ul {display:block;}
.category-menu+div {margin-top:60px;}
.category-menu:hover+div,.main .category-menu+div{margin-top:20px;}
.box .box-heading {
	background-color: #1D588A;
	background-image: -moz-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -webkit-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	background-image: -o-linear-gradient(top, #2572B4, #1D588A 60%, #1D588A);
	box-shadow: 0 5px 5px #C0D0E5;
	min-height: 25px;
	display: block;
	font-size: 1.3em;
	margin: 0;
	padding: 5px 10px 6px;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	color: #fff;
	line-height: 25px;
	border-bottom: 1px solid #fff;
	position:relative;
}
.box .box-heading:before {
	content:"";
	position: absolute;
	bottom: -8px;
	left: 10px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 8px solid #222;
	border-top-color: #1D588A;
}
.box .box-heading a{color:#fff;}
.box .box-content {
	background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 168px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}
.tab-content .box-product > div {
	margin-right:3px;
}
.tab-content .box-product > div :last-child{
	margin-right:0!important;
}
#column-left   .box-product > div , #column-right .box-product > div{
	width: 155px;
	margin-right: 0px;
}

#column-left + #column-right + #content .box-product > div {

}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #1D588A;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 10px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-weight: bold;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	margin-bottom: 20px;
	background: #FFFFFF;
	padding: 8px 10px;
	border: 1px solid #DBDEE1;
	position:relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}

.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	padding-left:0px;
}
.category-list ul li {
	border: 1px solid #eee;
	text-align:center;
	float: left;
	list-style:none;
	line-height:16px;
	width:22%;
	padding:10px 5px 5px 5px;
	margin-bottom:10px;
	margin-right:10px;
}
.category-list ul li:nth-child(4n+4) {margin-right:0;}
.category-list ul li a{
display: inline;
}
.category-list ul li span{
display:block;
height:30px;
}
.category-list ul li  img{}

/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
/* padding: 3px 10px; */
overflow: auto;
margin-bottom: 25px;
font-size: 10px;
/* border: 1px solid #DBDEE1; */
font-size: 12px;
background: #fff;
}
.product-filter a,.product-filter select {
font-size: 12px;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	float:left;
	padding-top: 5px;
	font-weight: bold;
	
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	height: 130px;
	float: right;
	padding-left: 18px;
	border-left: 1px solid #EEEEEE;
	
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #1D588A;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 130px;
	width: 100px;
	margin-left: 8px;
	text-align: center;
	color: #333333;
	font-size: 12px;
	border-left: 1px solid #EEEEEE;
	
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	position:relative;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	position:relative;
}
.product-grid {
	width: auto;
	text-align: center;
	/* background: #FFFFFF; */
	margin: 0 -15px;
	border-bottom: 0;
}
.tab-content .product-grid {
border:0;
}
.related-products .product-grid > div,
.box .product-grid > div  {
width: 149px;
}
.related-products .box{margin-bottom:0;}
.related-products .product-grid > div .image img, 
.related-products .product-grid > div:hover .image img,
.box .product-grid > div .image img, 
.box .product-grid > div:hover .image img{
width:146px;
}
.product-grid > div {
	width: 159px;
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
	margin-bottom: 15px;
	height: 230px;
	overflow: visible;
}
.product-grid >div>div{
	padding:2px;
	background:#fff;
}
.product-grid > div:hover>div {
	padding:1px;
	border: 1px solid #ccc;
}
.product-grid > div:hover {
	z-index:999;
}
.product-grid > div .rating-count{font-size:12px;}
.box-content .product-grid > div {
margin: 0 auto 10px auto;
border-bottom: 1px dotted #ddd;
padding-bottom: 10px;
width: 100%;
}
.box-content .product-grid > div:last-child {
margin:0 auto;
padding-bottom:0;
border-bottom:0;
}
.product-grid > div:nth-child(4n+4) {
	margin-right:0;
}
.product-grid > div {
	margin-right: 0;
	padding: 9px;
	position: relative;
}
.product-grid > div:hover {
	-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.product-grid > div .reviews-count {font-size:12px;}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .name {
	height: 16px;
	overflow: hidden;
	margin-bottom: 6px;
	font-weight: 700;
}
.product-grid .image img {}
.product-grid .name a {
	color: #1D588A;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display:none;
	text-align: left;
	line-height: 12px;
	font-size: 10px;
	padding:0 5px;
	text-align:center;
}
.product-grid .description>div{
	display:inline-block;
}
.product-grid>div .image img{}
.product-grid>div:hover .image img{
	margin-left:0;
	width:148px;
}
.product-grid .description:before {}
.product-grid>div:hover .description {
	display:block;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
	float: left;
}
.product-grid .reviews-count {
	float:right;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #333333;
	float: left;
	line-height: 25px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
	float:left;
	width: 80px;
}
.product-grid .cart span{
	font-size:14px!important;
}
.product-grid .wishlist, .product-list .wishlist, .product-grid .compare, .product-list .compare  {
	margin-bottom: 3px;
	width:25px;
	height:25px;
	float:right;
}
.product-grid input.button {
	padding:0 20px;
	height: 25px!important;
}
.product-grid .wishlist,.product-list .wishlist  {
	background:url(../image/wish.png)no-repeat left center;
}
.product-grid .compare,.product-list .compare {
	background:url(../image/compare.png)no-repeat left center;
}
.product-grid .wishlist a,.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	font-size:0;
	text-indent:-9999px;
	display: block;
	width:25px;
	height:25px;
	position:relative;
}
.product-grid .compare a,.product-list .compare a {
	color: #333333;
	font-size:0;
	text-indent:-9999px;
	text-decoration: none;
	display: block;
	width:25px;
	height:25px;
	position:relative;
}
.product-grid .compare:hover a i,.product-grid .wishlist:hover a i,.product-list .compare:hover a i,.product-list .wishlist:hover a i  {
position: absolute;
margin-top: -19px;
font-size: 11px;
text-indent: 0;
left: -40px;
margin-left:12px;
font-style:normal;
color:#fff;
background:#000;
padding:0px;
width:80px;
text-align:center;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
	/* background: #fff; */
	/* border: 1px solid #DDDDDD; */
}
.product-info>h1 {
	margin: 10px;
}
.product-info > .left {
	float: left;
	margin: 0 7px;
}
.product-info > .left + .center {
	float: left;
	width: 310px;
	margin-right: 20px;
}
.product-info > .left + .center + .right .attr {
border-left: 2px solid #1D588A;
background: #E2F2FF;
margin-bottom: 10px;
padding: 10px;
}
.product-info > .left + .center + .right .attr>div {
	font-size: 12px;
	padding-right: 5px;
}
.product-info > .left + .center + .right .attr>div>b {
	color:#333;
}
.product-info > .left + .center + .right .attr>div>span {

}
.product-info > .left + .center + .right .attr b {

}
.product-info > .left + .center + .right .attr span {

}
.product-info > .left + .center + .right {
	margin-left: 660px;
}
.product-info .block-info {
position: relative;
}
.product-info .block-info .links{
	position: absolute;
	right:0;
	top: 36px;
}
.product-info .block-info .links a{
	display:inline-block;
	width:25px;
	height:25px;
	float:left;
}
.product-info .block-info .links a span{
font-size:12px;
font-weight:normal;
}
.product-info .block-info .links a:hover span{
position: absolute;
margin-top: -18px;
font-size: 12px;
text-indent: 0;
left: -40px;
margin-left:12px;
font-style:normal;
color:#fff;
background:#000;
padding:3px;
width:80px;
text-align:center;
z-index:1;
line-height:10px;
}
.product-info .block-info .links a:first-child{
	color: #333333;
	text-decoration: none;
	font-size: 0;
	text-indent: -9999px;
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	background: url(../image/wish.png)no-repeat left center;
}
.product-info .block-info .links a:last-child{
color: #333333;
font-size: 0;
text-indent: -9999px;
text-decoration: none;
display: block;
width: 25px;
height: 25px;
position: relative;
background: url(../image/compare.png)no-repeat left center;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 322px;
	clear: both;
	overflow: hidden;
	text-align:center;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 5px;
}
.product-info .image-additional a:nth-child(5n+5),.product-info .image-additional a:last-child {margin-right:0;}
.product-info .description {
	line-height: 20px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.product-info .description span{
	padding-left: 15px;
	font-size: 16px;
	font-weight: bold;
}
.stock-01 {color: #00A81C;}
.stock-02 {color: #FF0000;}
.stock-03 {color: #FF9B00;}
.stock-04 {color: #008BFF;}
.stock-05 {color: #900000;}
.product-info .description i {
	font-size: 10px;
	position: absolute;
	background-color: #fff;
	margin-top: -3px;
	color: #777;
	font-style: normal;
	text-transform: uppercase;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	padding:12px 0 7px 0;
	margin-bottom: 10px;
	color: #333333;
	height: 25px;
	line-height: 25px;
	padding-left: 15px;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options .option {
position: relative;
height: 24px;
color: #333;
margin-bottom: 2px;
}
.product-info .options .option>span{
display:inline-block;
vertical-align: middle;
width: 180px;
line-height:12px;
}
.product-info .options .option select {
width: 120px;
float: right;
margin: 0;
font-size: 12px;
padding: 0;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
margin-bottom: 5px;
text-align: right;
}
.product-info .cart >div>input[type='text']{width: 24px;}
.product-info .cart div > span {
	float: right;
	line-height:25px;
	font-size: 12px!important;
}
.product-info .cart .box-content {text-align:left;}
.product-info .cart div > span.help {
	float:none!important;
	line-height:auto!important;
	font-size:10px!important;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 12px;
	color: #999;
}
.product-info .review {
	display: inline-block;
	/*color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;*/
}
.product-info .review > div {
	/*padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;*/
}
.product-info .review > div > span {
	/*color: #1D588A;*/
}
.product-info .review #vote #star{width:110px!important;}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	/*font-family: PT Sans Narrow;*/
	background: #F7F7F7;
	text-align: left;
	text-transform: uppercase;
}
.attribute tr td:first-child {
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 4px;
	color: #4D4D4D;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
	padding:10px;
	background:#fff;
	border:1px solid #ddd;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info tbody .name>div {
	line-height: 12px;
	padding-top: 5px;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-bottom: 1px solid #DDDDDD;
	overflow: auto;
	margin-bottom: 15px;
}
.cart-total tr:first-child {display:none;}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px 0 0 0;
	border-bottom: 1px solid #222222;
	background: #000;
	color:#777;
}
#footer h3 {
	color: #ccc;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 8px;
	/*font-family: PT Sans Narrow;*/
	text-transform: uppercase;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #888;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	line-height:26px;
	margin:0;
	font-size:10px;
	text-align: center;
	clear: both;
	color:#888;
	background: #000;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
/* geoip */
#geoip
{
    margin: 0 0 -5px;
    height: 30px;
    line-height: 30px;
    position: relative;
	color: #999999;
}

#geoip .content
{
    position: absolute;
    left: 20px;
    z-index: 100;
}

#geoip input
{
    background-color: #fff;
    border: 1px solid #ccc;
   /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    -webkit-box-shadow: 0 2px 0 #F0F0F0;
    -moz-box-shadow: 0 2px 0 #F0F0F0;
    box-shadow: 0 2px 0 #F0F0F0;
}
#geoip input:focus{outline:none;}
#geoip #geoip-search
{
    display: none;
}

#geoip .zone
{
    text-decoration:none;
    cursor: pointer;
    color: #fff;
}
#geoip .zone:hover{
	text-decoration:underline;
}
.pr-autocomplete .ui-autocomplete
{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .pr-autocomplete .ui-autocomplete
{
    height: 300px;
}
.phones {
	position: absolute;
	left: 490px;
	top: 43px;
	width: 330px;
	height: 60px;
}
.phones>div,.callme_viewform,.ask {
	display:inline-block;
	vertical-align:top;
	padding-left: 25px;
	line-height:30px;
	text-shadow: 1px 1px 0 #fff;
}
.phones>div.mts{
	background:url(../image/mts.png)no-repeat left center;
	margin-right: 45px;
}
.phones>div.life {
	background:url(../image/life.png)no-repeat left center;
	margin-right:45px;
}
.phones>div.kyivstar {
	background:url(../image/kyivstar.png)no-repeat left center;
}
.phones>div.service {
	background:url(../image/service.png)no-repeat left center;
}
.callme_viewform,.ask {
	background: url(../image/callme.png)no-repeat left center;
	position: absolute;
	top: 43px;
left: 285px;
width: 140px;
color: #737373!important;
text-shadow: 1px 1px 0#fff;
}
.ask,.ask:visited {
	background: url(../image/ask.png)no-repeat left center;
	top:73px;
	color: #000;
}
#callmeform>div{
	z-index: 999;
	position: absolute;
	background: #fff;
}
#callmeform:before {
content:"";
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
top: 0;
left: 0;
z-index: 999;
overflow:hidden;
}
.info {
height:200px;
position:relative;
width:185px;
margin-left:10px;
}
.info .share42init {
	position:absolute;
	bottom:0;
	right:0;
}
.info>div {
margin-bottom:10px;
color: #4d4d4d;
}
.info>div:last-child {
margin-bottom:0;
position:absolute;
bottom:0;
}
.info>div:last-child .b-share_theme_counter .b-share-icon {
	width:20px!important;
	height:20px!important;
	background-size:100%!important;
}
.info>div img {
	float:left;
	margin-right:10px;
	padding: 0 0 20px 0;
}
.inform .payment {
background: url(../image/icons/payment.png)no-repeat 4px center;
padding-left: 35px;
display: block;
line-height: 24px;
}
.inform .delivery {
background: url(../image/icons/delivery.png)no-repeat 4px center;
padding-left: 35px;
display: block;
line-height: 24px;
}
.inform .garantee {
background: url(../image/icons/garantee.png)no-repeat 4px center;
padding-left: 35px;
display: block;
line-height: 24px;
}
.inform {
color: #737373;
}
.inform ul {padding-left: 30px;}
.inform ul b{margin-left: -30px;}
.inform ul li{padding-left:0px;font-size:13px;}
.category-menu {
margin-top: -60px;
display:block;
}
.category-menu>span {
text-align: left;
text-indent: 15px;
text-decoration: none;
display: block;
padding: 0px;
line-height: 40px;
z-index: 99;
text-shadow: 1px 1px 1px #000;
color: #fff;
width: 220px;
position: absolute;
font-size: 1.5em;
background-color: #111;
background-image: -moz-linear-gradient(#444, #111);
background-image: -webkit-linear-gradient(#444, #111);
background-image: -o-linear-gradient(#444, #111);
background-image: -ms-linear-gradient(#444, #111);
background-image: linear-gradient(#444, #111);
}
.category-menu:hover>span{
background:#000;
color: #F0C237;
}
.category-menu>ul{
display:none;
/*background: #FFFFFF;*/
border-bottom: 1px solid #DBDEE1;
padding: 60px 0 0 0;
margin:0;
}
.category-menu:hover ul{
display:block;
}
.category-menu ul li{
	list-style:none;
	border-top: 1px solid #EEEEEE;
}
.category-menu>ul>li{
border-left: 1px solid #DBDEE1;
border-right: 1px solid #DBDEE1;
padding: 0 5px;
background: #FFFFFF;
}
.category-menu>ul>li a{padding:0 5px;}
.category-menu ul>li a:hover {
	background: #F8F8F8;
}
.category-menu ul li a{
	text-decoration: none;
	color: #333;
	display:block;
	line-height: 30px;
}
.category-menu>ul>li>a{font-weight:bold;}
.category-menu>ul>li ul>li a {padding-left:10px;}
.category-menu ul li ul{
padding-left:0;
}
#column-left.no-width {position:absolute;}
#column-left.no-width .category-menu>ul {
	z-index:1;
	position: absolute;
	padding-top: 10px;
	margin-top: 40px;
	width: 220px;
}
#column-left.no-width+.content {}
#column-left.no-width + #column-right + #content, #column-left.no-width + #content {
margin-left:0;
}
.category-menu>ul>li:last-child {padding-bottom: 5px;}
.category-menu>ul>li:first-child{padding-top: 5px;}
#notification>div {
	position: fixed;
	top: 30%;
	width: 30%;
	left: 50%;
	margin-left: -15%;
	z-index: 999;
}
/*#notification>div:before {
	content:"";
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	left:0;
	top:0;
	z-index:-1;
}*/
#checkout {
 display:none; }
.related-products {margin-top: 20px;}
.related-products h2 {
	background: url('../image/background.png') repeat-x transparent;
	border: 1px solid #DBDEE1;
	color: #000;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	padding-left: 10px;
	display:block;
	font-size:16px;
}
.related-products .product-grid > div {margin-right: 27px!important;}
.related-products .product-grid > div:nth-child(5n+5) {margin-right: 0!important;}
.blog-divider+div {}
.blog-divider+div>div,.blog-child_divider+div>div {
	display: inline-block;
	width: 336px;
	text-align: justify;
	vertical-align: top;
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.blog-date_container .blog-date {margin-left:0!important;margin-right:0!important;}
.blog-date_container .blog-comment_container {
	float: right;
	width: auto;
	margin: 0;
	margin-top: -40px;
}
.blog-date_container > .blog-comment_container {
float: right;
margin-right: 0!important;
}
.blog-small-record ul li.floatright,.rating.blog-rate_container {display:none;}
.blog-heading_title+.blog-divider,.blog-heading_title+.blog-divider+.blog-child_divider,.blog-heading_title+.blog-divider+.blog-child_divider+.blog-refine_title, .blog-heading_title+.blog-divider+.blog-child_divider+.blog-refine_title+.blog-list{
	display:none;
}
.blog-divider+div>div:nth-child(odd),.blog-child_divider+div>div:nth-child(odd)  {
margin-right:20px;
}
.rat-rew {
position:absolute;
top:10px;
right:10px;
}
.rat-rew a {}
.rat-rew img {
display: inline-block;
vertical-align: bottom;
}
.share {
	position: absolute;
	top: 54px;
	right: 10px;
}
.filterpro {
	
}
.filterpro .collapsible {
	width:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.filterpro .collapsible table{
	width:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.ui-slider-horizontal {
	width: 175px;
	margin: 0 auto;
}
.filterpro .collapsible tbody tr td:first-child{
	width:20px;
}
.filterpro .collapsible tr td {
		border-bottom:1px solid #dedede;
}
.filterpro .collapsible label {
	font-size:12px;
}
.worktime{
position: absolute;
top: 42px;
right: 40px;
color:#737373;
text-shadow: 1px 1px 0 #fff;
text-align: right;
}
.worktime span{
display: block;
width: 135px;
text-align: right;
}
.consultant {
z-index: 99;
display: block;
position: fixed;
bottom: 100px;
right: -125px;
opacity: 0.5;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}
.consultant:hover {
right: 0;
opacity: 1;
}
.container_reviews>noindex+div {
	display: inline-block;
	margin-right: 10px;
}
.comments_parent {
	margin-top: -10px;
}
#button-cart {
	margin-left: 10px;
	border-radius:4px;
	border: 1px solid #F07924;
	background: #f9791c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9791c 0%, #faa241 53%, #f9791c 53%, #faa241 100%, #faa241 100%, #faa241 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9791c), color-stop(53%,#faa241), color-stop(53%,#f9791c), color-stop(100%,#faa241), color-stop(100%,#faa241), color-stop(100%,#faa241)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9791c 0%,#faa241 53%,#f9791c 53%,#faa241 100%,#faa241 100%,#faa241 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9791c 0%,#faa241 53%,#f9791c 53%,#faa241 100%,#faa241 100%,#faa241 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9791c 0%,#faa241 53%,#f9791c 53%,#faa241 100%,#faa241 100%,#faa241 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9791c 0%,#faa241 53%,#f9791c 53%,#faa241 100%,#faa241 100%,#faa241 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9791c', endColorstr='#faa241',GradientType=0 ); /* IE6-9 */
	height: 28px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	width:110px;
	text-align:center;
}
#button-cart:hover {
	background: #f7924a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7924a 0%, #f9af5e 52%, #f7924a 53%, #f7924a 53%, #f9af5e 100%, #faa241 100%, #faa241 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7924a), color-stop(52%,#f9af5e), color-stop(53%,#f7924a), color-stop(53%,#f7924a), color-stop(100%,#f9af5e), color-stop(100%,#faa241), color-stop(100%,#faa241)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7924a 0%,#f9af5e 52%,#f7924a 53%,#f7924a 53%,#f9af5e 100%,#faa241 100%,#faa241 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7924a 0%,#f9af5e 52%,#f7924a 53%,#f7924a 53%,#f9af5e 100%,#faa241 100%,#faa241 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7924a 0%,#f9af5e 52%,#f7924a 53%,#f7924a 53%,#f9af5e 100%,#faa241 100%,#faa241 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7924a 0%,#f9af5e 52%,#f7924a 53%,#f7924a 53%,#f9af5e 100%,#faa241 100%,#faa241 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7924a', endColorstr='#faa241',GradientType=0 ); /* IE6-9 */
}
#fast_order {
	border-radius:4px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	border: 1px solid #49AF35;
	background: #89c259; /* Old browsers */
	background: -moz-linear-gradient(top,  #89c259 0%, #89c259 50%, #4da43b 51%, #4da43b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89c259), color-stop(50%,#89c259), color-stop(51%,#4da43b), color-stop(100%,#4da43b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #89c259 0%,#89c259 50%,#4da43b 51%,#4da43b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #89c259 0%,#89c259 50%,#4da43b 51%,#4da43b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #89c259 0%,#89c259 50%,#4da43b 51%,#4da43b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #89c259 0%,#89c259 50%,#4da43b 51%,#4da43b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c259', endColorstr='#4da43b',GradientType=0 ); /* IE6-9 */
	height:28px;
	line-height: 28px;
	padding: 0;
	width:110px;
	text-align:center;
}
#fast_order:hover {
background: #94ca69; /* Old browsers */
background: -moz-linear-gradient(top,  #94ca69 0%, #94ca69 50%, #66b257 51%, #66b257 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94ca69), color-stop(50%,#94ca69), color-stop(51%,#66b257), color-stop(100%,#66b257)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #94ca69 0%,#94ca69 50%,#66b257 51%,#66b257 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #94ca69 0%,#94ca69 50%,#66b257 51%,#66b257 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #94ca69 0%,#94ca69 50%,#66b257 51%,#66b257 100%); /* IE10+ */
background: linear-gradient(to bottom,  #94ca69 0%,#94ca69 50%,#66b257 51%,#66b257 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ca69', endColorstr='#66b257',GradientType=0 ); /* IE6-9 */
}
.compare,.wishlist,.product-info .block-info .links a {
	opacity:0.5;
	/*-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;*/
	z-index:1;
}
.compare:hover,.wishlist:hover,.product-info .block-info .links a:hover {
	opacity:1;
}
.compare i,.wishlist 1 {
	z-index:5;
}
.blogdescription  .blog-author+div {
padding: 4px;
border: 1px solid #ccc;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(248, 248, 248);
}
#formated_price {
	font-size: 24px;
	color: #1D588A;
	margin-left: 30px;
}
#share42 .share42-item:last-child {margin-right:0!important;}
#share42 span {
	opacity:0.5;
}
.info #share42 span {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-o-transform: scale(0.85);
	-ms-transform: scale(0.85);
}
.info #share42>span {margin:0!important;}
#share42 span:hover {opacity:1;}
.blog-divider+div, .blog-child_divider+div {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.blog-date_container {
	border:0!important;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.share.blog-share_container{display:none!important;}
.maintext {
	height: 450px;
	overflow: hidden;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
.maintext:hover {height:auto;}
.maintext .success{
	position: relative;
	width: auto;
	margin: 0;
	left: 0;
}
.google-plus {
	text-indent: -9999px;
	position: absolute;
}
#checkout-form .left, #checkout-form .right{
	display:inline-block;
	width:45%;
	vertical-align:top;
}
#shipping_methods {display:none;}
.slideshow .nivo-controlNav {z-index:auto!important;}
.product-grid >div>div .position_manual {
	top:7%!important;
}
#tab-description {
	position:relative;
	z-index:0;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none;
	user-select: none; 
}
#tab-description iframe{
	position:relative;
	z-index:1;
}
.transparent{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
}
.comment_reply.comment_buttons.hrefajax {
	width: 56px;
	height: 14px;
	background-image: url(../image/answer.jpg);
	background-repeat: no-repeat;
	background-position: -6px 0;
	display: block;
}
.hrefajax.comments_rollup {
	width: 136px;
	height: 14px;
	background-image: url(../image/drop.jpg);
	background-repeat: no-repeat;
	background-position:0 0;
	display: block;
}
.comment_reply.comment_buttons.hrefajax:hover,
.hrefajax.comments_rollup:hover {
	border-color:transparent;
}